@mixin brandBtn($color, $bgColor, $borderColor, $hoverbg) {
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  color: $color;
  background: $bgColor;
  border: 1px solid $borderColor;
  border-radius: 5px;
  transition: all linear 0.3s;
  &:hover {
    background: $hoverbg;
  }
}

@mixin anchorTag {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 14px;
  text-transform: uppercase;
  transform: perspective(1px) translateZ(0);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    top: 20px;
    background: #e54c2a;
    height: 4px;
    transition-property: left;
    transition-timing-function: ease-out;
  }
  &:hover {
    color: $brandColor;
  }
  &:hover::before {
    left: 0;
  }
}

@mixin paragraph($textColor) {
  font-size: 16px;
  color: $textColor;
  line-height: 26px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

@mixin subHeading {
  font-family: $fontFamily_1;
  font-size: 36px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.9);
}

@mixin subInnerHeading($textColor) {
  font-size: 18px;
  font-weight: 600;
  color: $textColor;
  margin: 0 0 10px;
}

@mixin commonText($fontSize, $textColor, $fammily, $fw) {
  font-size: $fontSize;
  color: $textColor;
  font-family: $family;
  font-weight: $fw;
}
