h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
li {
  margin: 0;
  padding: 0; }

ul,
ol,
li {
  list-style: none; }

p {
  font-size: 16px;
  color: #757575;
  line-height: 26px;
  font-family: "Lato", sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

position:relative .border-shape:after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0px; }

section {
  padding: 50px 0; }

.section-head h3 {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.9); }
.section-head p {
  padding: 0 263px; }

.price-right-side {
  position: absolute;
  right: 0;
  top: 0; }

.dashboard-header h6 {
  -webkit-box-shadow: 0 2px 4px #333;
          box-shadow: 0 2px 4px #333;
  background: #fa5c7c; }

.StripeCheckout {
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  color: #e9457a !important;
  background: #222 !important;
  border: 1px solid #e9457a !important;
  border-radius: 5px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  text-align: center;
  margin: 22px 0 0;
  -webkit-box-shadow: 0 3px 0px #e9457a !important;
          box-shadow: 0 3px 0px #e9457a !important;
  text-transform: uppercase;
  color: #fff; }
  .StripeCheckout:hover {
    background: #e9457a !important;
    border-color: transparent; }
  .StripeCheckout span {
    font-size: 16px !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #e9457a !important; }
  .StripeCheckout:hover span {
    color: #fff !important; }

.main-menu {
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(34, 34, 34, 0.301);
  z-index: 1; }
  .main-menu ul li .nav-link {
    background-color: transparent;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 14px;
    text-transform: capitalize;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    position: relative;
    margin: 0 20px; }
    .main-menu ul li .nav-link::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 100%;
      right: 0;
      top: 20px;
      background: #e54c2a;
      height: 4px;
      -webkit-transition-property: left;
      transition-property: left;
      -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .main-menu ul li .nav-link:hover {
      color: #e9457a !important; }
    .main-menu ul li .nav-link:hover::before {
      left: 0; }
    .main-menu ul li .nav-link img {
      width: 40px;
      height: 40px; }
    .main-menu ul li .nav-link span:after {
      content: "";
      position: absolute;
      right: -15px;
      bottom: 0px;
      border: 5px solid;
      border-color: #e9457a transparent transparent transparent; }
  .main-menu ul li .user-account:before {
    background: transparent; }
  .main-menu ul .dropdownLink {
    position: relative; }
    .main-menu ul .dropdownLink .hover-item {
      position: absolute;
      left: 24px;
      top: 50px;
      width: 145px;
      background: #e9457a;
      line-height: 26px;
      padding: 4px 14px;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: top;
              transform-origin: top;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s; }
    .main-menu ul .dropdownLink:hover .hover-item {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
  .main-menu ul .cart-menu .cart-item-show {
    position: absolute;
    width: 300px;
    left: -136px;
    top: 37px;
    -webkit-box-shadow: 0 0 20px #660808;
            box-shadow: 0 0 20px #660808;
    padding: 20px 0;
    background: #222;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    .main-menu ul .cart-menu .cart-item-show .cart-header {
      padding: 0px 0; }
      .main-menu ul .cart-menu .cart-item-show .cart-header figure {
        padding: 0 6px; }
        .main-menu ul .cart-menu .cart-item-show .cart-header figure img {
          width: 40px;
          height: 40px;
          border: 2px solid #a9da25;
          margin-left: 5px; }
        .main-menu ul .cart-menu .cart-item-show .cart-header figure figcaption {
          margin-left: 10px; }
          .main-menu ul .cart-menu .cart-item-show .cart-header figure figcaption h6 {
            font-size: 14px;
            color: #fff;
            font-family: "Lato", sans-serif;
            font-weight: 500; }
          .main-menu ul .cart-menu .cart-item-show .cart-header figure figcaption p {
            font-size: 14px;
            color: #e9457a;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            padding-top: 3px; }
    .main-menu ul .cart-menu .cart-item-show .cart-item-inner {
      border-bottom: 2px solid;
      border-top: 2px solid;
      padding: 0 15px;
      overflow-y: scroll;
      max-height: 200px; }
      .main-menu ul .cart-menu .cart-item-show .cart-item-inner::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: transparent; }
      .main-menu ul .cart-menu .cart-item-show .cart-item-inner::-webkit-scrollbar {
        width: 10px; }
      .main-menu ul .cart-menu .cart-item-show .cart-item-inner::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #737272;
        border: 1px solid #000; }
      .main-menu ul .cart-menu .cart-item-show .cart-item-inner .cart-food {
        padding: 5px 0;
        min-height: 450px; }
        .main-menu ul .cart-menu .cart-item-show .cart-item-inner .cart-food p {
          padding: 2px 0;
          color: #fff;
          position: relative;
          text-transform: capitalize; }
    .main-menu ul .cart-menu .cart-item-show .cart-bottom {
      padding: 5px 15px; }
      .main-menu ul .cart-menu .cart-item-show .cart-bottom h6 {
        font-size: 15px;
        color: #fff;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        padding: 6px 0; }
      .main-menu ul .cart-menu .cart-item-show .cart-bottom a {
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        color: #e9457a;
        background: #222;
        border: 1px solid #e9457a;
        border-radius: 5px;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s;
        width: 100%;
        text-align: center;
        margin: 22px 0 0;
        -webkit-box-shadow: 0 3px 0px #e9457a;
                box-shadow: 0 3px 0px #e9457a;
        text-transform: uppercase; }
        .main-menu ul .cart-menu .cart-item-show .cart-bottom a:hover {
          background: #e9457a;
          border-color: transparent; }
        .main-menu ul .cart-menu .cart-item-show .cart-bottom a:hover {
          color: #fff !important; }
  .main-menu ul .cart-menu:hover .cart-item-show {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }

#homeBanner {
  height: 650px;
  background: url("../images/background/banner-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  #homeBanner .banner-content {
    padding: 300px 0 0;
    text-align: center; }
    #homeBanner .banner-content h2 {
      font-size: 50px;
      color: #fff;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      padding-bottom: 13px; }
    #homeBanner .banner-content p {
      padding: 0 52px;
      color: #fff; }
    #homeBanner .banner-content a {
      font-size: 16px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 5px;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s;
      padding: 0 20px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-top: 30px; }
      #homeBanner .banner-content a:hover {
        background: #e9457a;
        border-color: transparent; }

#order-part {
  background: url("../images/background/order-bg-bottom.jpg") no-repeat center;
  background-size: cover;
  padding: 20px 0; }
  #order-part .order-head p {
    padding: 15px 163px; }
  #order-part .order-inner ul li p {
    font-size: 16px;
    color: #757575;
    line-height: 26px;
    font-family: "Lato", sans-serif;
    margin: 15px 51px 8px;
    font-style: italic; }

#popular-dishes {
  padding: 50px 0; }
  #popular-dishes .search-food {
    width: 50%;
    border-radius: 20px;
    height: 40px;
    margin: 20px auto 0;
    padding: 0 20px; }
    #popular-dishes .search-food:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      border-color: #e9457a; }
  #popular-dishes .food-item {
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    margin: 30px 0 0; }
    #popular-dishes .food-item .food-content {
      border: 1px solid #e5e5e5;
      padding: 15px 23px 0px; }
      #popular-dishes .food-item .food-content h5 {
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin: 0 0 10px; }
      #popular-dishes .food-item .food-content p {
        font-size: 14px;
        margin-bottom: 15px; }
      #popular-dishes .food-item .food-content h6 {
        font-size: 24px;
        color: #e9457a;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s; }
      #popular-dishes .food-item .food-content button {
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        color: #fff;
        background: #e9457a;
        border: 1px solid #fff;
        border-radius: 5px;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s;
        transition: all linear 0.3s;
        padding: 0 20px;
        opacity: 0; }
        #popular-dishes .food-item .food-content button:hover {
          background: #e9457a;
          border-color: transparent; }
    #popular-dishes .food-item:hover button {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
      opacity: 1; }
    #popular-dishes .food-item:hover h6 {
      opacity: 0; }

#foodMenus {
  padding: 50px 0;
  background: #f5f5f5;
  background-size: cover; }
  #foodMenus .menus-btn {
    padding: 18px 20px;
    background: #fff;
    margin-top: 30px; }
    #foodMenus .menus-btn ul li,
    #foodMenus .menus-btn ul .active-menu {
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      color: #222;
      background: #fff;
      border: 1px solid transparent;
      border-radius: 5px;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s;
      margin: 0 5px;
      cursor: pointer; }
      #foodMenus .menus-btn ul li:hover,
      #foodMenus .menus-btn ul .active-menu:hover {
        background: #e9457a;
        border-color: transparent; }
      #foodMenus .menus-btn ul li:hover,
      #foodMenus .menus-btn ul .active-menu:hover {
        color: #fff !important; }
    #foodMenus .menus-btn ul .active-menu {
      background: #e9457a;
      color: #fff; }
  #foodMenus .food-menu-inner {
    padding-top: 50px; }
    #foodMenus .food-menu-inner .menu-item {
      background: #fff;
      border: 1px solid #e5e5e5;
      padding: 0 12px;
      margin-bottom: 30px; }
      #foodMenus .food-menu-inner .menu-item .item-content {
        border-left: 1px solid #e5e5e5;
        padding: 20px 12px 30px; }
        #foodMenus .food-menu-inner .menu-item .item-content h5 {
          font-size: 16px;
          color: #e9457a;
          font-family: "Lato", sans-serif;
          font-weight: 600; }
        #foodMenus .food-menu-inner .menu-item .item-content h6 {
          font-size: 13px;
          color: #222;
          font-family: "Lato", sans-serif;
          font-weight: 600;
          line-height: 32px;
          font-style: italic; }
        #foodMenus .food-menu-inner .menu-item .item-content p {
          padding-right: 100px; }
      #foodMenus .food-menu-inner .menu-item .right-item-content .add-cart {
        font-size: 33px;
        color: #e9457a;
        margin: 10px;
        cursor: pointer; }

#funFactor {
  background: url(../images/background/fun-factor.jpg) no-repeat center;
  background-size: cover;
  padding: 50px 0; }
  #funFactor .box svg {
    font-size: 40px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s; }
  #funFactor .box h6 {
    font-size: 30px;
    color: #212529;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding: 12px 0 6px; }
  #funFactor .box h5 {
    font-size: 20px;
    color: #212529;
    font-family: "Lato", sans-serif;
    font-weight: 500; }
  #funFactor .box:hover svg {
    color: #e9457a; }

#contact-part {
  background: url(../images/background/contact.jpg) no-repeat center;
  background-size: cover; }
  #contact-part .section-head {
    color: #fff; }
  #contact-part form {
    text-align: center; }
    #contact-part form input {
      height: 45px;
      border-color: #fff;
      background: #2222228a;
      margin: 30px 0 0;
      color: #fff;
      letter-spacing: 0.3px;
      font-family: "Lato", sans-serif; }
      #contact-part form input::-webkit-input-placeholder {
        font-size: 18px;
        text-transform: capitalize;
        font-family: "Lato", sans-serif; }
      #contact-part form input:-ms-input-placeholder {
        font-size: 18px;
        text-transform: capitalize;
        font-family: "Lato", sans-serif; }
      #contact-part form input::-ms-input-placeholder {
        font-size: 18px;
        text-transform: capitalize;
        font-family: "Lato", sans-serif; }
      #contact-part form input::placeholder {
        font-size: 18px;
        text-transform: capitalize;
        font-family: "Lato", sans-serif; }
      #contact-part form input:focus {
        border-color: #e9457a;
        -webkit-box-shadow: none;
                box-shadow: none; }
    #contact-part form input[type="date"]::-webkit-calendar-picker-indicator {
      -webkit-filter: invert(100%);
              filter: invert(100%); }
    #contact-part form .input-icon {
      position: absolute;
      right: 28px;
      bottom: 14px;
      font-size: 18px;
      color: #fff; }
    #contact-part form .brandBtn {
      font-size: 16px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background: #e9457a;
      border: 1px solid #e9457a;
      border-radius: 5px;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s;
      margin: 30px 0 0;
      padding: 0 20px; }
      #contact-part form .brandBtn:hover {
        background: #fff;
        border-color: transparent; }
      #contact-part form .brandBtn:hover {
        color: #e9457a !important; }

.footer-inner {
  background: #f6f6f6;
  padding: 50px; }
  .footer-inner h3 {
    font-size: 20px;
    color: #333;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding-bottom: 30px; }
  .footer-inner ul li {
    font-size: 14px;
    color: #333;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    line-height: 35px; }
    .footer-inner ul li svg {
      position: absolute;
      left: 0;
      top: 12px;
      color: #e9457a; }
    .footer-inner ul li a {
      color: #333;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      .footer-inner ul li a:hover {
        color: #e9457a;
        text-decoration: underline; }
    .footer-inner ul li img {
      margin-top: 7px;
      margin-right: 7px; }
  .footer-inner .contact-info li {
    padding-left: 26px; }

.footer-bottom {
  background: #e9457a;
  padding: 10px 0; }
  .footer-bottom .logo img {
    height: 45px; }
  .footer-bottom .social-icon a {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    .footer-bottom .social-icon a:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

#checkoutForm form .paymentInput {
  height: 45px !important;
  border: 3px solid red;
  display: block !important; }
#checkoutForm form .brandBtn {
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #000;
  border: 1px solid #e9457a;
  border-radius: 5px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  width: 100%; }
  #checkoutForm form .brandBtn:hover {
    background: #e9457a;
    border-color: transparent; }

#dashboard {
  padding: 0; }
  #dashboard .side-menu {
    padding-left: 15px;
    height: 100vh;
    background: #313a46; }
    #dashboard .side-menu .active-side-menu {
      width: 230px;
      padding-left: 20px; }
    #dashboard .side-menu .remove-side-menu {
      width: 45px; }
    #dashboard .side-menu ul {
      padding-top: 50px; }
      #dashboard .side-menu ul li a {
        font-size: 16px;
        color: #fff;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        line-height: 38px;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        #dashboard .side-menu ul li a .showText {
          padding-left: 10px;
          font-size: 16px; }
        #dashboard .side-menu ul li a .hideText {
          font-size: 0; }
        #dashboard .side-menu ul li a:hover {
          color: #e9457a; }
  #dashboard .dashboard-contents .content-head {
    background: #fb2056;
    padding: 10px 30px; }
    #dashboard .dashboard-contents .content-head .toggle-menu-btn svg {
      font-size: 26px;
      color: #fff;
      cursor: pointer; }
    #dashboard .dashboard-contents .content-head .user-account {
      cursor: pointer; }
      #dashboard .dashboard-contents .content-head .user-account img {
        width: 40px;
        height: 40px; }
      #dashboard .dashboard-contents .content-head .user-account span {
        padding-left: 8px;
        color: #fff; }
  #dashboard .add-review form {
    -webkit-box-shadow: 0 0 2px rgba(34, 34, 34, 0.363);
            box-shadow: 0 0 2px rgba(34, 34, 34, 0.363);
    border-radius: 5px;
    padding: 20px 30px; }
    #dashboard .add-review form .form-control:focus {
      border-color: #e9457a;
      -webkit-box-shadow: none;
              box-shadow: none; }
    #dashboard .add-review form label {
      font-size: 16px;
      color: #252121;
      font-family: "Lato", sans-serif;
      font-weight: 500; }
    #dashboard .add-review form input {
      height: 40px;
      border-color: #ddd; }
      #dashboard .add-review form input::-webkit-input-placeholder {
        text-transform: capitalize;
        font-size: 14px;
        color: #bbb3b3; }
      #dashboard .add-review form input:-ms-input-placeholder {
        text-transform: capitalize;
        font-size: 14px;
        color: #bbb3b3; }
      #dashboard .add-review form input::-ms-input-placeholder {
        text-transform: capitalize;
        font-size: 14px;
        color: #bbb3b3; }
      #dashboard .add-review form input::placeholder {
        text-transform: capitalize;
        font-size: 14px;
        color: #bbb3b3; }
    #dashboard .add-review form textarea {
      height: 160px;
      resize: none; }
    #dashboard .add-review form .brand-btn {
      font-size: 16px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background: #fb2056;
      border: 1px solid #fb2056;
      border-radius: 5px;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s;
      padding: 0 50px; }
      #dashboard .add-review form .brand-btn:hover {
        background: #fb2056;
        border-color: transparent; }
      #dashboard .add-review form .brand-btn:hover {
        color: #fff !important; }

#checkoutForm {
  position: relative;
  top: 120px; }
  #checkoutForm .cart-heading {
    background: #fb2056; }
  #checkoutForm .main-cart {
    margin-top: 12px; }
    #checkoutForm .main-cart .cart-product figure img {
      width: 80px;
      height: 80px;
      border: 1px solid #ddd; }
    #checkoutForm .main-cart .cart-product figure figcaption {
      margin-left: 10px; }
      #checkoutForm .main-cart .cart-product figure figcaption h6 {
        font-family: "Lato", sans-serif;
        color: #757575; }
      #checkoutForm .main-cart .cart-product figure figcaption span {
        font-size: 14px;
        color: #fb2056;
        cursor: pointer; }
    #checkoutForm .main-cart .cart-product .cart-quantity input {
      width: 65px;
      padding: 4px 10px;
      border: 2px solid #e9457a; }
      #checkoutForm .main-cart .cart-product .cart-quantity input:focus {
        border-color: #e9457a; }
    #checkoutForm .main-cart .cart-product .cart-subtotal h5 {
      color: #e9457a; }
  #checkoutForm .cart-price-calculate {
    border-top: 2px solid #e9457a; }

/*# sourceMappingURL=style.css.map */