@import "_mixin.scss";
@import "_variable.scss";

// common css start
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
p {
  @include paragraph(#757575);
}

a {
  display: inline-block;
  text-decoration: none;
}

// common css end

// reusable css start
.border-shape {
  position:relative &:after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0px;
  }
}
section {
  padding: 50px 0;
}
.section-head {
  h3 {
    @include subHeading;
  }
  p {
    padding: 0 263px;
  }
}

.price-right-side {
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard-header {
  h6 {
    box-shadow: 0 2px 4px #333;
    background: #fa5c7c;
  }
}

// reusable css end here

// header  menu start here;

.main-menu {
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(34, 34, 34, 0.301);
  z-index: 1;
  ul {
    li {
      .nav-link {
        @include anchorTag;
        margin: 0 20px;
        img {
          width: 40px;
          height: 40px;
        }
        span {
          &:after {
            content: "";
            position: absolute;
            right: -15px;
            bottom: 0px;
            border: 5px solid;
            border-color: $brandColor transparent transparent transparent;
          }
        }
      }
      .user-account {
        &:before {
          background: transparent;
        }
      }
    }
    .dropdownLink {
      position: relative;
      .hover-item {
        position: absolute;
        left: 24px;
        top: 50px;
        width: 145px;
        background: $brandColor;
        line-height: 26px;
        padding: 4px 14px;
        transform: scaleY(0);
        transform-origin: top;
        transition: all linear 0.3s;
      }
      &:hover .hover-item {
        transform: scaleY(1);
      }
    }
    .cart-menu {
      .cart-item-show {
        position: absolute;
        width: 300px;
        left: -136px;
        top: 37px;
        box-shadow: 0 0 20px rgb(102, 8, 8);
        padding: 20px 0;
        background: #222;
        transform: scaleY(0);
        transform-origin: top;
        transition: all linear 0.3s;
        .cart-header {
          padding: 0px 0;
          figure {
            padding: 0 6px;
            img {
              width: 40px;
              height: 40px;
              border: 2px solid #a9da25;
              margin-left: 5px;
            }
            figcaption {
              margin-left: 10px;
              h6 {
                @include commonText(14px, #fff, $a, 500);
              }
              p {
                @include commonText(14px, $brandColor, $a, 400);
                padding-top: 3px;
              }
            }
          }
        }
        .cart-item-inner {
          border-bottom: 2px solid;
          border-top: 2px solid;
          padding: 0 15px;
          overflow-y: scroll;
          max-height: 200px;
          &::-webkit-scrollbar-track {
            border: 1px solid #000;
            padding: 2px 0;
            background-color: transparent;
          }
          &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #737272;
            border: 1px solid #000;
          }

          .cart-food {
            padding: 5px 0;
            min-height: 450px;
            p {
              padding: 2px 0;
              color: #fff;
              position: relative;
              text-transform: capitalize;
            }
          }
        }
        .cart-bottom {
          padding: 5px 15px;
          h6 {
            @include commonText(15px, #fff, $a, 500);
            padding: 6px 0;
          }
          a {
            @include brandBtn($brandColor, #222, $brandColor, $brandColor);
            width: 100%;
            text-align: center;
            margin: 22px 0 0;
            box-shadow: 0 3px 0px $brandColor;
            text-transform: uppercase;
            &:hover {
              color: #fff !important;
            }
          }
          .StripeCheckout {
            @include brandBtn($brandColor !important, #222 !important, $brandColor !important, $brandColor !important);
            width: 100%;
            text-align: center;
            margin: 22px 0 0;
            box-shadow: 0 3px 0px $brandColor !important;
            text-transform: uppercase;

            span {
              font-size: 16px !important;
              background-image: none !important;
              box-shadow: none !important;
              color: $brandColor !important;
            }
            &:hover span {
              color: #fff !important;
            }
          }
        }
      }
      &:hover .cart-item-show {
        transform: scaleY(1);
      }
    }
  }
}

// homeBanner part start============

#homeBanner {
  height: 650px;
  background: url("../images/background/banner-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .banner-content {
    padding: 300px 0 0;
    text-align: center;
    h2 {
      @include commonText(50px, #fff, $a, 400);
      padding-bottom: 13px;
    }
    p {
      padding: 0 52px;
      color: #fff;
    }
    a {
      @include brandBtn(#fff, transparent, #fff, $brandColor);
      padding: 0 20px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-top: 30px;
    }
  }
}

// banner part end here

// order part start here
#order-part {
  background: url("../images/background/order-bg-bottom.jpg") no-repeat center;
  background-size: cover;
  padding: 20px 0;
  .order-head {
    p {
      padding: 15px 163px;
    }
  }
  .order-inner {
    ul {
      li {
        p {
          @include paragraph(#757575);
          margin: 15px 51px 8px;
          font-style: italic;
        }
      }
    }
  }
}

// orderr part end here;;

// popular-dishes part start here
#popular-dishes {
  padding: 50px 0;
  .search-food {
    width: 50%;
    border-radius: 20px;
    height: 40px;
    margin: 20px auto 0;
    padding: 0 20px;
    &:focus {
      box-shadow: none;
      border-color: $brandColor;
    }
  }
  .food-item {
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    margin: 30px 0 0;
    .food-content {
      border: 1px solid #e5e5e5;
      padding: 15px 23px 0px;
      h5 {
        @include subInnerHeading(#000);
      }
      p {
        font-size: 14px;
        margin-bottom: 15px;
      }
      h6 {
        @include commonText(24px, $brandColor, $a, 600);
        transition: all linear 0.3s;
      }
      button {
        @include brandBtn(#fff, $brandColor, #fff, $brandColor);
        transition: all linear 0.3s;
        padding: 0 20px;
        opacity: 0;
      }
    }
    &:hover button {
      transform: translateY(-25px);
      opacity: 1;
    }
    &:hover h6 {
      opacity: 0;
    }
  }
}

// popular-dishes part end here
// food menus start here

#foodMenus {
  padding: 50px 0;
  background: #f5f5f5;
  background-size: cover;
  .menus-btn {
    padding: 18px 20px;
    background: #fff;
    margin-top: 30px;
    ul {
      li,
      .active-menu {
        width: 100%;
        @include brandBtn(#222, #fff, transparent, $brandColor);
        margin: 0 5px;
        cursor: pointer;
        &:hover {
          color: #fff !important;
        }
      }
      .active-menu {
        background: $brandColor;
        color: #fff;
      }
    }
  }
  .food-menu-inner {
    padding-top: 50px;
    .menu-item {
      background: #fff;
      border: 1px solid #e5e5e5;
      padding: 0 12px;
      margin-bottom: 30px;
      .item-content {
        border-left: 1px solid #e5e5e5;
        padding: 20px 12px 30px;
        h5 {
          @include commonText(16px, $brandColor, $a, 600);
        }
        h6 {
          @include commonText(13px, #222, $a, 600);
          line-height: 32px;
          font-style: italic;
        }
        p {
          padding-right: 100px;
        }
      }
      .right-item-content {
        .add-cart {
          font-size: 33px;
          color: $brandColor;
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

// food menus end here

// funFactor start  here
#funFactor {
  background: url(../images/background/fun-factor.jpg) no-repeat center;
  background-size: cover;
  padding: 50px 0;
  .box {
    svg {
      font-size: 40px;
      transition: all linear 0.3s;
    }
    h6 {
      @include commonText(30px, #212529, $a, 600);
      padding: 12px 0 6px;
    }
    h5 {
      @include commonText(20px, #212529, $a, 500);
    }
    &:hover svg {
      color: $brandColor;
    }
  }
}

// funFactor end  here

// contact part start here

// contact part end here

#contact-part {
  background: url(../images/background/contact.jpg) no-repeat center;
  background-size: cover;
  .section-head {
    color: #fff;
  }

  form {
    text-align: center;
    input {
      height: 45px;
      border-color: #fff;
      background: #2222228a;
      margin: 30px 0 0;
      color: #fff;
      letter-spacing: 0.3px;
      font-family: $a;

      &::placeholder {
        font-size: 18px;
        text-transform: capitalize;
        font-family: $a;
      }
      &:focus {
        border-color: $brandColor;
        box-shadow: none;
      }
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(100%);
    }

    .input-icon {
      position: absolute;
      right: 28px;
      bottom: 14px;
      font-size: 18px;
      color: #fff;
    }
    .brandBtn {
      @include brandBtn(#fff, $brandColor, $brandColor, #fff);
      margin: 30px 0 0;
      padding: 0 20px;
      &:hover {
        color: $brandColor !important;
      }
    }
  }
}

// FooterInenr start here

.footer-inner {
  background: #f6f6f6;
  padding: 50px;
  h3 {
    @include commonText(20px, #333, $a, 600);
    padding-bottom: 30px;
  }
  ul {
    li {
      @include commonText(14px, #333, $a, 400);
      position: relative;
      line-height: 35px;
      svg {
        position: absolute;
        left: 0;
        top: 12px;
        color: $brandColor;
      }
      a {
        color: #333;
        transition: all linear 0.3s;
        &:hover {
          color: $brandColor;
          text-decoration: underline;
        }
      }
      img {
        margin-top: 7px;
        margin-right: 7px;
      }
    }
  }
  .contact-info li {
    padding-left: 26px;
  }
}

// FooterInenr end here

// footer  bottom start ===copyright
.footer-bottom {
  background: $brandColor;
  padding: 10px 0;
  .logo {
    img {
      height: 45px;
    }
  }
  .social-icon {
    a {
      font-size: 16px;
      color: #fff;
      margin-right: 10px;
      transition: all linear 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// footer  bottom end ===copyright

//===========================================================
// checkout part start here
// =========================================================

#checkoutForm {
  form {
    .paymentInput {
      height: 45px !important;
      border: 3px solid red;
      display: block !important;
    }
    .brandBtn {
      @include brandBtn(#fff, #000, $brandColor, $brandColor);

      // padding: 0 20px;
      width: 100%;
    }
  }
}

//===========================================================
// checkout part end here
// =========================================================

// =============================================================
//  dashboard page start here
// ==============================================================

#dashboard {
  padding: 0;
  .side-menu {
    padding-left: 15px;
    height: 100vh;
    background: #313a46;
    .active-side-menu {
      width: 230px;
      padding-left: 20px;
    }
    .remove-side-menu {
      width: 45px;
    }
    ul {
      padding-top: 50px;
      li {
        a {
          @include commonText(16px, #fff, $a, 500);
          line-height: 38px;
          transition: all linear 0.3s;
          .showText {
            padding-left: 10px;
            font-size: 16px;
          }
          .hideText {
            font-size: 0;
          }
          &:hover {
            color: $brandColor;
          }
        }
      }
    }
  }
  .dashboard-contents {
    .content-head {
      background: #fb2056;
      // background: $brandColor;
      padding: 10px 30px;
      .toggle-menu-btn {
        svg {
          font-size: 26px;
          color: #fff;
          cursor: pointer;
        }
      }
      .user-account {
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
        }
        span {
          padding-left: 8px;
          color: #fff;
        }
      }
    }
  }

  .add-review {
    form {
      box-shadow: 0 0 2px rgba(34, 34, 34, 0.363);
      border-radius: 5px;
      padding: 20px 30px;
      .form-control {
        &:focus {
          border-color: $brandColor;
          box-shadow: none;
        }
      }
      label {
        @include commonText(16px, #252121, $a, 500);
      }
      input {
        height: 40px;
        border-color: #ddd;
        &::placeholder {
          text-transform: capitalize;
          font-size: 14px;
          color: rgb(187, 179, 179);
        }
      }
      textarea {
        height: 160px;
        resize: none;
      }
      .brand-btn {
        @include brandBtn(#fff, $secondaryColor, $secondaryColor, $secondaryColor);
        padding: 0 50px;
        // box-shadow: 0 4px 4px $brandColor;
        &:hover {
          color: #fff !important;
        }
      }
    }
  }
}

// =============================================================
//  dashboard page end here
// ==============================================================

// =============================================================
//  checkout part start
// ==============================================================
#checkoutForm {
  position: relative;
  top: 120px;
  .cart-heading {
    background: $secondaryColor;
  }
  .main-cart {
    margin-top: 12px;
    .cart-product {
      figure {
        img {
          width: 80px;
          height: 80px;
          border: 1px solid #ddd;
        }
        figcaption {
          margin-left: 10px;
          h6 {
            font-family: $a;
            color: #757575;
          }
          span {
            font-size: 14px;
            color: $secondaryColor;
            cursor: pointer;
          }
        }
      }
      .cart-quantity {
        input {
          width: 65px;
          padding: 4px 10px;
          border: 2px solid $brandColor;
          &:focus {
            border-color: $brandColor;
          }
        }
      }
      .cart-subtotal {
        h5 {
          color: $brandColor;
        }
      }
    }
  }
  .cart-price-calculate {
    border-top: 2px solid $brandColor;
  }
}

// =============================================================
//  checkout part end here
// ==============================================================
